*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    width: 100%;
    outline: none;
    font-family: ''Plus Jakarta Sans'';
}
.section-1{
    max-width: 100%;
    min-height: 100vh;
    background-image: url(./img/pngegg\ 1.png);
}
nav{
    height: 76px;
    max-width: 1024px;
    left: 50px;
    top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 183px;
    height: 47.33px;
}
.navbar{
 display: flex;
 list-style-type: none;
 margin-right: -150px;
 align-items: center;
}  
.navbar li{
    margin-right: 30px;
}
.navbar li a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;   
}
.language{ 
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.012em;
    text-align: center;
}

.hero-tag{
    color: #0a1634;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    width: 80%;
    padding-bottom: 50px;
}

.carat{
    margin-top: 5px;
}
.blog{
         width: 46px;
        height: 25px;
        font-family: ''Plus Jakarta Sans'';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.012em;   
        color: #000000;
}
/* .btn{
    background: #154BD6;
    border-radius: 25px;
    font-family: ''Plus Jakarta Sans'';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 15px 18px;
    border: none;
} */
.content {
    position: relative;
    display: flex;
    margin:0 auto;
    margin-top: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content p{
    line-height: 1.5;
}
.special{
    text-align: center;
    margin-left: 180px;
}
.email{
    width: 500px;
    height: 70px;
    margin-top: 30px;
    padding-left: 25px;
    font-size: 20px;
    background: #EEF1FB;
    border: 0.5px solid #154BD6;
    border-radius: 10px;
} 
.btn{
    width: 204px;
    padding: 20px 30px;
    background: #154BD6;
    border: none;
    color: #FFFFFF;
    height: 70px;
    margin-top: 28px;
    border-radius: 40px;
    font-size: 25px;
}
.btn:hover{
    background: #2c54b9;
    color: #000;
}
main {
    width: 100%;
}
.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 min(3.85%, 55.5px);
}
.section-2-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.hero-tag-2{
    font-size: 75px;
}
.hero-tag-3{
    font-size: 75px;
}
.section-2-boxes {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 45px 33px;
}
.section-2-box {
    background: #F4F6FC;
    width: 32%;
    max-width: 421px;
    height: 416px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 45px 60px;
}
.section-2-box h2 {
    font-family: 'Plus Jakarta Sans';
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    color: #15317A;
    letter-spacing: 0.012em;
    text-align: center;
}
.section-2-box p {
    font-family: 'Plus Jakarta Sans';
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    line-height: 20px;
    letter-spacing: 0.012em;
    text-align: center;
    color: #5A5A5F;
}
.section-2-box img {
    margin:26px 0 0 75px;
}
.section-3-header{
    margin-top: 150px;
    text-align: center;
}
.section-3-boxes{
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 150px;
}
.section-box-3{
    background: #F4F6FC;
    max-width: 429px;
    height: 410px;
    color:#15317A;
    line-height: 45px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 45px 60px;
}
.section-box-3 p{
    margin-top: 45px;
    color: #5A5A5F;
    line-height: 24px;
    font-size: 25px;
}
.section-4{
    margin-top: 150px;
    position: relative;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    background: url(./img/BG.png);
}
/* .section-5-box{
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, #FCFCFC, #FCFCFC), linear-gradient(0deg, #F4F6FC, #F4F6FC), #F4F6FC;
    border-radius: 12px;
} */
.section-4 h2{
    position: absolute;
    top: 16%;
    color: #ffff;
    font-family: 'Plus Jakarta Sans';
    font-size: 64px;
    font-weight: 800;
    line-height: 81px;
    letter-spacing: 0.012em;
    text-align: center;
}
.section-4 .cls{
    position: absolute;
    top: 60%;
}
.section-5{
    background: #F4F6FC;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 40px;
    padding: 100px min(5.69%, 66px) 240px min(5.69%, 66px);
}
.section-5 h1{
    color: #0A1634;
    font-family: 'Plus Jakarta Sans';
    font-size: 75px;
    font-weight: 800;
    line-height: 95px;
    letter-spacing: 0.012em;
    text-align: center;
}
#sec-5{
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.012em;
    text-align: center;
}
.section-5 h2 {
    color:#0A1634;
    font-family: 'Plus Jakarta Sans';
    font-size: 24px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 0.012em;
    text-align: center;
}
.section-5 p {
    color: #0A1634;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.012em;
    text-align: center;
}
.section-5-container{
    padding-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px min(2.08%, 30px);
}
.section-5-box{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 24px;
    background: linear-gradient(0deg, #FCFCFC, #FCFCFC), linear-gradient(0deg, #F4F6FC, #F4F6FC), #F4F6FC;
    max-width: 302px;
    padding: 27px 21px;
}
.section-5 .box-cont {
    width: 91.56px;
    height: 91.56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-1{
    width: 200px;
    padding: 12px 15px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    color: #154BD6;
    background:#FCFCFC ;
    border: 1px solid #2A66FF;
    
}
.section-5 .box-cont > img {
    margin: 0;
}
.section-5 .cont1{
    background: #EEFAFF;
}
.section-5 .cont2{
    background: #EEFAFF;
}
.section-5 .cont3 {
    background: #EEFBFF;
}
.section-5 .cont4{
    background: #FAF5FC;
}
.section-6 {
    display: block;
    padding: 15px;
}
.section-6 h1{
    color: #0A1634;
    font-family: 'Plus Jakarta Sans';
    font-size: 75px;
    font-weight: 800;
    line-height: 95px;
    letter-spacing: 0.012em;
    text-align: center;
}
.section-6 p{
    text-align: center;
    margin-top: 20px;
}
.sec-6-cont{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items:center;
}
.faq-item {
    width: 50%;
    max-width: 944px;
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #1E1E1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-item p {
    font-size: 20px;
    color: #1E1E1E;
    text-align: center;
}
.faq-item .ion-icon {
    color: #000;
    font-size: 26px;
    cursor: pointer;
}
footer{
    display: flex;
  position: relative;
    margin-top: 200px;
    height: 400px;
    background: #15317A;
}
.footer-sec{
    position: absolute;
    top: 20%;
    left: 44%;
}
.stud{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 15px;
}
.stud a{
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
}
.socials{
    display: flex;
    position: absolute;
    top: 48%;
    left: 38%;
}
.socials-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1E1E1E;
    border:none;
    border-radius: 50%;
    text-align: center;
    height: 50px;
    width: 55.2147216796875px;
    margin: 20px;
    font-size: 12px;
}
@media only screen and (max-width: 600px) {
    body{
        width: 100%;
    }
    .navbar{
        display: none;
    }
    .section-1 {
        text-align: center;
        min-width: 100%;
    }
}